:root {
    --woocommerce: #a46497;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-skyblue:rgba(0,163,186,0.93);
    --wc-primary: #a46497;
    --wc-primary-text: white;
    --wc-secondary: #ebe9eb;
    --wc-secondary-text: #515151;
    --wc-highlight: #77a464;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
    --wc-dark: #393D54;
    --wc-grey: rgba(55,71,79,0.93);
    --wc-lightred: #F54646;
    --wc-lightgrey: #f7f7f7;
    --wc-gray: #ddd;
}

.flex__form
{
	padding-top: 1rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
table
{
	text-align: center;
}

#inputImg, #upAdHinh, #khHinh, #upKhHinh, #upSpHinh,#inputImg2,#inputImg3, #inputImg4
{
	display: none;
}
.lb__adHinh, .lb__upAdHinh, .lb__khHinh ,.lb__upKhHinh, .lb__upSpHinh,.lb__spHinh
{
	font-size: 12px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	height: 40px;
	width: 240px;
	border-radius: 5px;
	cursor: pointer;
	background-color: #859BEC;
	font-family: "Montserrat",san-serif;
}
.lb__spHinh
{
	height: 40px;
	width: 200px;
	font-size: 16px;
}
.box__imgTT
{
	position: relative;
	margin: 0;
	padding: 0;
	width: 55%;
	height: 140px;
	border: 1px solid grey;
}
.lb__ttHinh
{
	font-size: 12px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	height: 40px;
	width: 55%;
	border-radius: 5px;
	cursor: pointer;
	background-color: #859BEC;
	font-family: "Montserrat",san-serif;
}

#click__pass
{
	color:white;
	cursor: pointer;
	
}
#click__pass:hover
{
	color:#6294EF;
	border-bottom:1px solid #6294EF;
}

.btn_ok
{

	position: relative;
	
	border:0;
	font-size: 20px;
	background: green;
	
	border-radius: 10px;
	
	color: white;
	padding: 5px 20px 5px 20px;
	font-family: "Montserrat",san-serif;
}
.btn_ok::before
{
	content:"Thực hiện";
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;

	font-size: 20px;
	border-radius: 10px;
	padding: 5px 20px 5px 20px;
	background-color: blue;

	transform: scaleX(0);
	transform-origin: 0 100%;
	transition: 0.5s;
}
.btn_ok:hover:before
{
	transform: scaleX(1);
	transition: 0.4s;
}

.menu__donhang
{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}
.menu__donhang li
{
	display: inline-block;
	cursor: pointer;
}
.menu__donhang li:hover
{
	border-bottom:1px solid blue; 
}

#thead__phieunhap
{
	border: 0;
	background-color: #A4B5ED;
	color: white;
	font-weight: bold;
	text-align: center;
}
#tbody__phieunhap tr td
{
	border-bottom:1px solid black;
}
#tbody__phieunhap input
{
	text-align: center;
}
.input__phieunhap
{
	border: 0;
	outline: none;
	background-color: transparent;
}

/* ///////////////////////////PAGE INDEX/////////////////////// */
/* content_1 */
#content__1 .content__1--item
{
	height: 100px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	padding: 0 1rem 0 1rem;
	margin-top: 10px;
	margin-left: 20px;
	width: 21%;
}
#content__1 .content__1--item:nth-child(1)
{
	background-color: rgb(0,0,255,0.6);
	margin-left: 60px;
}
#content__1 .content__1--item:nth-child(2)
{
	background-color:rgb(128,0,0,0.6);
}
#content__1 .content__1--item:nth-child(3)
{
	background-color: rgb(0,0,0,0.3)	;
}

#content__1 .content__1--item:nth-child(4)
{
	background-color: rgb(255,0,0,0.7)	;
}
#content__1 .content__1--item label
{
	margin-top: 25px;
}

/* content_2 */
#content__2 .content__2--item
{
	width: 44%;
	overflow-y: hidden;
	height: 200px;
}
#content__2 .content__2--item:nth-child(1)
{
	margin-left: 5%;
}
#content__2 .content__2--item:nth-child(2)
{
	margin-left: 2%;
}
#content__2 .content__2--item .title__content--2
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
#content__2 .content__2--item .title__content--2 label
{
	padding-left: 1rem;
	font-size: 20px;
}
#content__2 .content__2--item .title__content--2 a
{
	color: blue;
	cursor: pointer;
}
.title__content--2 #btnClose,
.title__content--2 #btnClose2
{
	display: none;
}
#content__2 .content__2--item .item__info
{
	width: 96%;
	border: 1px solid #ADB0B8;
	border-radius: 10px;
	margin-top: 13px;
	margin-left: 1%;
	box-shadow: 1px 1px 3px 3px #ADB0B8;
}
#content__2 .content__2--item .item__info span
{
	display: inline-block;
	padding: 8px 0 8px 1rem;
}
.item__left .item__info span:nth-child(1)
{
	width: 10%;
}
.item__left .item__info span:nth-child(2)
{
	width: 55%;
}
.item__left .item__info span:nth-child(3)
{
	text-align: right;
	width: 30%;
}
.item__right .item__info span:nth-child(1)
{
	width: 10%;
}
.item__right .item__info span:nth-child(2)
{
	width: 33%;
}
.item__right .item__info span:nth-child(3)
{
	text-align: right;
	width: 25%;
}
.item__right .item__info span:nth-child(4)
{
	text-align: right;
	width: 25%;
}

.item__left .item__info span:nth-child(1) img
{
	width: 45px;
	height: 45px;
	border-radius: 360px;
}
.item__right .item__info span:nth-child(1) img
{
	width: 45px;
	height: 45px;
}

.box__img
{
	position:relative;
	width: 130px;
	height: 130px;
	left: 22%;
	font-weight: bold;
	color: #74757B;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	border:2px solid black;
}
#imgDefault
{
	width: 130px;
	height: 130px;
	position: absolute;
}
#imgDefaultTT
{
	position: relative;
	width: 100%;
	height: 140px;
	object-fit: cover;
}
#img, #img2, #img3, #img4
{
	position: relative;
	width: 100%;
	height: 130px;
	display: none;
	object-fit: cover;	
}
#imgtt
{
	position: relative;
	width: 100%;
	height: 140px;
	display: none;
	object-fit: cover;	
}


/*-----PAGE SUA SAN PHAM-------*/
.box__list--img
{
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	padding: 10px 10px; 
}
.box__list--img .item__img
{
	margin-top: 1rem;
}
.box__list--img table
{
	width: 100%;
	text-align: center;
	border: 2px solid black;
}
.box__list--img table .btn__chose
{
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
	background-color: transparent;
	outline: none;
	border: 1px solid black;
	box-shadow: grey 0px 1px 3px inset,
				grey 0px 1px 3px,
				grey 0px 1px 3px;
	padding: 3px 2px 3px 2px;
}
.box__list--img table .btn__chose a
{
	text-decoration: none;
}
.box__list--img table .btn__delete
{
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: transparent;
	outline: none;
	border: 1px solid black;
	box-shadow: grey 0px 1px 3px inset,
				grey 0px 1px 3px,
				grey 0px 1px 3px;
	padding: 3px 2px 3px 2px;
}
.box__list--img table .btn__delete a i
{
	color: red;
}

.box__list--img table .btn__chose:hover
{
	background-color: #3EC334;
	border: 1px solid #3EC334;
	box-shadow: #3EC334 0px 1px 3px inset,
				#3EC334 0px 1px 3px,
				#3EC334 0px 1px 3px;
	transition: 0.2s;
}
.box__list--img table .btn__chose:hover a
{
	color: white;
}
.box__list--img table .btn__delete:hover
{
	background-color: #F54646;
	border: 1px solid #F54646;
	box-shadow: #F54646 0px 1px 3px inset,
				#F54646 0px 1px 3px,
				#F54646 0px 1px 3px;
	transition: 0.2s;
}
.box__list--img table .btn__delete:hover a i
{
	color: white;
}



#btnCancel
{
	position: relative;
	left: 200px;
	top: -130px;
	color: red;
	display: none;
	z-index: 5;
	cursor: pointer;
}
#btnCanceltt
{
	position: relative;
	top: -140px;
	left: 20px;
	color: red;
	display: none;
	z-index: 5;
	cursor: pointer;
}
#btnImg__editSP
{
	display: none;
}


.info__left
{
	background-color: white;
	padding:0 20% 1% 20%;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.info__right
{
	background-color: white;
	height: 310px;
	padding:0 20% 5% 20%;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


/*-----BANNER----*/

.bn__header
{
	margin: 0;
	padding: 0;
}
.bn__header .header__top,
.bn__header .header__bot div,
.bn__header .bn__video,
.bn__header .bn__pro .bn__pro--left,
.bn__header .bn__pro .bn__pro--right
{
	position: relative;
	z-index: 1;
	border: 1px solid var(--wc-dark);
	background-color: grey;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.bn__header .header__top #img__header--top,
.bn__header .header__bot div #img__logo
{
	position: relative;
	z-index: 2;
	display: none;
}

.bn__header .header__top,
.bn__header .header__bot div
{
	height: 60px;
}
.bn__header .header__bot .img__logo
{
	height: 55px;
	width: 250px;
}
.bn__header .bn__video
{
	height: 620px;
}
.bn__pro .bn__pro--left .content__left,
.bn__pro .bn__pro--right .content__right
{
	display: none;
	position: relative;
	z-index: 3;
	text-transform: none;
}
.bn__pro--left .content__left #content__title4,
.bn__pro--right .content__right #content__title5
{
	font-size: 18px;
	font-weight: bold;
}
.bn__pro--left .content__left #content__text4,
.bn__pro--right .content__right #content__text5
{
	font-size: 14px;
}
.bn__header .bn__pro .bn__pro--left,
.bn__header .bn__pro .bn__pro--right
{
	margin: 0;
	padding: 0;
	height: 260px;
}
.bn__header .bn__pro .bn__pro--left #img__pro--left,
.bn__header .bn__pro .bn__pro--right #img__pro--right
{
	position: absolute;
	z-index: 2;
	display: none;
	width: 100%;
	height: 260px;
}

.bn__content
{
	margin: 0;
	height: 261px;
	padding: 50px 0 50px 0;
}

.bn__content .bn__content--text
{
	height: 261px;
	
	color: var(--wc-dark);
	background-color: var(--wc-content-bg);
}
.bn__content .text__title
{
	font-size: 24px;
}
.bn__content .text__content,
.bn__content a
{
	font-size: 16px;
}
.bn__content--border
{
	height: 50%;
}
.bn__content--border div
{
	height: 100%;
	width: 1px;
	border: 2px solid var(--wc-skyblue);
}
 .bn__content--img
 {
 	height: 261px;
 	position: relative;
	background-color: grey;
	display: flex;
	justify-content: space-around;
	align-items: center;
 }
.bn__content #bn__content--img1,
.bn__content #bn__content--img2,
.bn__content #bn__content--img3
{
	width: 100%;
	height: 261px;
	position: relative;
	z-index: 2;
	display: none;
}
.bn__video .bg__video
{
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 2;
	width: 100%;
}
.bg__video video,
.bg__video video source
{
	width: 100%;
}
.bn__video .bg__content
{
	position: absolute;
	z-index: 3;
	top:20px;
	left: 50px;
	text-align: center;
	text-transform: none;
	font-size: 30px;
}

.bn__vitri1,.bn__vitri8
{
	height: 495px;
	width: 12.3%;
	border: 1px solid black;
	background-color:grey;
}
.bn__vitri2
{
	border: 1px solid black;
	width: 100%;
	background-color:grey;
	height: 330px;
}
.bn__vitri3,
.bn__vitri4,
.bn__vitri5,
.bn__vitri6,
.bn__vitri7
{
	height: 165px;
	border: 1px solid black;
	background-color:grey;
}
.bn__vitri1,
.bn__vitri2,
.bn__vitri5,
.bn__vitri6,
.bn__vitri7,
.bn__vitri8
{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.bn__vitri1,
.bn__vitri2,
.bn__vitri3,
.bn__vitri4,
.bn__vitri5,
.bn__vitri6,
.bn__vitri7,
.bn__vitri8
{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.style__together,
.style__together div
{
	font-size: 20px;
	color: white;
}
.style__together:hover,
.style__together:hover div
{
	color: var(--wc-blue);
	text-decoration: none;
}

@media only screen and (max-width: 1024px)
{
	#content__1 .content__1--item
	{

		margin-left: 30px;
		width: 80%;
	}
	#content__1 .content__1--item:nth-child(1)
	{
		margin-left: 30px;
	}
}
	