.col-1_5
{
	max-width: 12.5%;
    width:12.5%;
	-ms-flex:0 0 12.5%;
    flex:0 0 12.5%;
}
.col-3_5
{
	max-width: 30%;
    width:30%;
	-ms-flex:0 0 30%;
    flex:0 0 30%;
}
.quang__cao,.quang__cao2
{
	background:linear-gradient(to bottom, #CEB1EC,#87AAF1,#CFD7E8);
	height: 495px;
	position: fixed;
	z-index: 1000;
}
.quang__cao
{
	left: 0;
}
.quang__cao2
{
	right: 0;
}

/* //////////////////////////////HEADER//////////////////////////////// */
.header
{
	background-color: white;
	position: fixed;
	z-index: 1100;
} 
.banner__header
{
	height: 35px;
	background: linear-gradient(to right, #BCB9DD,#879CE8,#6970F6);
}
.header__top{
	height: 60px;
	box-shadow: 1px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgrey;
	box-shadow: 0 8px 6px -6px grey;
	padding: 0;
	margin: 0;
}
.header__top a img
{
	width: 100px;
	height: 40px;
	
	margin-left: 35px;
}
.menu__header--top
{
	text-align: right;
}
.menu__header--top .menu__top--item
{
	text-align: center;
	height: 45px;
	width: 160px;
	border: 0;
	border-right: 1px;
  	border-style: solid;
	border-image: linear-gradient(to bottom, white,white, black,black,white,white) 1 100%; ;
} 
.menu__header--top .menu__top--item a
{
	color: black;
}

.menu__header--top .menu__top--item a img
{
	margin-top: 1px;
}
.menu__top--item .menu__account--child
{
	position: absolute;
	z-index: 10;
	background-color: white;
	width: 200px;
	text-align: center;
	display: none;
	border-radius: 0 0  9px 9px;
	margin-left: -3rem;
	padding: 0;
}
.menu__account--child .item
{
	width: 100%;
	padding-left: 1.5rem;
	border: 1px solid black;
}
.menu__account--child .item:nth-child(1)
{
	border-bottom: 1px solid grey;
}
.menu__account--child .item:nth-child(2)
{
border-bottom: 1px solid grey;
}
.menu__account--child .item:nth-child(3)
{
	border-radius: 0 0 9px 9px;
	text-align: center;
}
.menu__top--item:hover .menu__account--child
{
	display: block;
}
.menu__account--child .item:hover
{
	border: 2px solid #BACCF4;
	box-shadow: inset 1px 1px 4px 4px #BACCF4;
}




.header__bot{
	height: 60px;
	font-size: 20px;
	display: flex;
	width: 100%;
	align-items: center;
	
}

/* ////////////////menu account ////////////////// */
.list__menu
{
	width: 80%;
	margin: 0;
	padding-left: 20%;
	list-style: none;
	position: relative;
	height: 60px;
	border-radius: 9px;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.list__menu .list__menu--item
{
	position: relative;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 150px;
	height: 35px;
	border-radius: 9px;
	cursor: pointer;
	border: 1px solid lightgrey;
	box-shadow: inset 0.2px 0.2px 2px 2px grey;	
}

.list__menu .list__menu--item a
{
	font-size: 15px;
	color: black;
}
.list__menu .list__menu--item:hover a
{
	color: white;
	font-weight: bold;
	transition: 0.1s;
}

.list__menu--item:hover
{
	background-color: #FC3C3C;
}

/*--------------FOOTERR-----------------*/
.footerr .footerr__top
{
	height: 50px;
	border: 2px solid black;
}
.footerr__top .footerr__top--left
{
	padding-left: 2%;
	display: flex;
	align-items: center;
}
.footerr__top .footerr__top--left i:nth-child(1)
{
	position: relative;
	color:#6F6F73;
	left: 14px;
	z-index: 3;
}
.footerr__top .footerr__top--left i:nth-child(2)
{
	position: relative;
	color: #A8A9AF;
	left: 8px;
	z-index: 2;
}
.footerr__top .footerr__top--left i:nth-child(3)
{
	position: relative;
	color: #D7D8DD;
	z-index: 1;
}

.footerr__top .footerr__top--right
{
	display: flex;
	align-items: center;
	padding-left: 10%;
}
.footerr__top .footerr__top--right form input
{
	font-size: 16px;
	height: 30px;
	
} 
.footerr__top .footerr__top--right form button
{
	font-size: 16px;
	height: 30px;
	margin-top: -5px;
	padding-top: 1%;

}
.footerr .footerr__bot
{
	height: 200px;
	border: 2px solid black;
}


/* ---------------------infomation -----------------------*/
h2
{
	text-align: center;
}
.box__info .flex__info
{
	display: flex;
	flex-direction: row;
}
.flex__info .info__item
{
	display: block;
	width: 12rem;
}
.flex__info .ip
{
	border: 0;
	border-bottom: 1px solid black;
	width: 20rem;
}
.btn_editInfo
{
	position: relative;
	margin-left: 40%;
	border:0;
	padding:10px 20px 10px 20px;
	background-color: blue;
	color:white;
	font-size: 17px;
}
.btn_editPass
{
	position: relative;
	
	border:0;
	padding:10px 20px 10px 20px;
	background-color: #555570;
	color:white;
	font-size: 17px;
}
.btn_editInfo::before
{
	content: "Cập nhật thông tin";
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	padding:10px 20px 10px 20px;
	background-color:  green;

	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: 0.5s;
}
.btn_editPass::before
{
	content: "Đổi mật khẩu";
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	padding:10px 20px 10px 20px;
	background-color: green;

	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: 0.5s;
}
.btn_editInfo:hover:before, .btn_editPass:hover:before
{
	transform: scaleX(1);
	transition: 0.4s;
}

#khHinh
{
	display: none;
}
.lb__khHinh
{
	position: relative;
	left: 15%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	height: 40px;
	width: 200px;
	border-radius: 30px;
	background-color: #859BEC;
	font-family: "Montserrat",san-serif;
}
.flex__btnPass
{
	display: flex;
	justify-content: space-around;
}
.flex__btnPass button a
{
	color: white;
}
#click__pass, #click__pass2, #click__pass3
{
	position: relative;
	top:-1.7rem;
	left:90%;
	z-index: 100;
	cursor: pointer;
}


/* //////////////////BANNERS//////////////////// */
.slider
{
	width: 100%;
	overflow: hidden;
}
.slides
{
	width: 500%;
	display: flex;

}
.slides input
{
	display: none;
}
.slide
{
	width: 20%;
	transition: 2s;
}
.slide img
{
	height: 330px;
	
}
.navigation-manual{
	position: absolute;
	width: 100%;
	margin-top: -40px;
	display: flex;
	justify-content: center;
	
}
.manual-btn{
	border: 2px solid #192A69;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}
.manual-btn:not(:last-child)
{
	margin-right: 20px;
}

.navigation-auto{
	position: absolute;
	width: 100%;
	margin-top: 290px;
	display: flex;
	justify-content: center;

}
.navigation-auto div{
	border: 2px solid #192A69;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}
.navigation-auto div:not(:last-child)
{
	margin-right: 20px;
}
.manual-btn:hover
{
	background:#5733AA;
}

#radio1:checked ~ .first{
	margin-left: 0%;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background:  #192A69;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
background:  #192A69;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background:  #192A69;
}


#banners .banners__child
{
	width: 101%;
	height: 165px;

}
#banners .banners__child img
{
	width: 101%;
	height: 165px;
}

/* ////////////////FORM LOGIN REGISTER///////////////// */
.content__login form, .content__register form
{
	border: 1px solid rgba(103, 151, 255, .11);
	box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
	border-radius: 30px;
}
.content__login form .form-group, .content__register form .form-group
{
	position: relative;
	top: 1rem;
}
.input__login,
.input__register,
.input__upPass{
	height: 48px;
	margin-top: 2rem;
}
.form__label
{
	position: absolute;
	top: 0.8rem;
	left: 1rem;
	font-size: 16px;
	color:#939299;
	font-weight: normal;
	z-index: 10;
	background-color: white;
	transition: .5s;
}
.input__login:focus+ .form__label,
.input__register:focus+ .form__label,
.input__upPass:focus+ .form__label{
	top: -1rem;
	left: 0.5rem;
	font-size: 16px;
	padding: 0 10px 0 10px;
	color: #40B7D9;
	transition: .5s;
}
.input__login:not(:placeholder-shown).input__login:not(:focus)+ .form__label,
.input__register:not(:placeholder-shown).input__register:not(:focus)+ .form__label,
.input__upPass:not(:placeholder-shown).input__upPass:not(:focus)+ .form__label{
	top: -1rem;
	left: 0.5rem;
	font-size: 16px;
	padding: 0 10px 0 10px;
	color: #40B7D9;
	transition: .5s;
}

.content__login form .fa-eye, 
.content__register form .fa-eye,
.content__login form .fa-eye-slash, 
.content__register form .fa-eye-slash{
	position: absolute;
	top: 0.8rem;
	left: 90%;
	z-index: 1;
}

.content__login form legend, .content__register form legend
{
	color: orange;
	text-align: center;
	padding: 0.1rem 0 0.1rem 0;
	background-color: #463F89;
	border-radius: 30px 30px 0 0;

}
.content__login--form, .content__register--form
{
 	padding: 0 5rem 0 5rem;
}
.forgot-pass:hover
{
	color: orange;
	border-bottom: 1px solid orange;
}
.content__login--link a:hover, .content__register--link a:hover
{
	color: orange;
	border-bottom: 1px solid orange;
}

/* END FORM LOGIN */


/* /////////////RESPONSIVE////////////// */
.menu__sm
{
	display: none;
}
.menu__sm .left a img
{
	width: 120px;	
}
.menu__sm .right
{
	margin-top: -5rem;
	text-align: right;
}
.box__menu
{
	position: fixed;
	top: 0;
	right: -500px;
	bottom: 0;
	z-index: 110;

	background-color: #1C125C;
	color: white;
	padding-top: 1rem;
	line-height: 3rem;

	transition: 0.5s;
}
.box__menu h3
{
	display: flex;
	justify-content: space-between;
}
.box__menu .menu__sm--child
{
	list-style-type: none;
	width: 100%;
	font-size: 18px;
	text-align: left;
}	
.box__menu .menu__sm--child li
{
	margin-left: -2rem;
}
.box__menu .menu__sm--child li a
{
	color: white;
}
.box__menu .menu__sm--child li a:hover
{
	color:orange;
} 
#show:checked ~ .box__menu
{
	right: 0;
	transition: 0.5s;
}






/*----------------- SẢN PHẨM --------------*/
.box__search
{
	border: 1px solid #9898A0;
	height: 700px;
	border-radius: 20px;
	margin-left: 0.5%;
	padding-top: 1rem;
	box-shadow: 1px 3px 2px 2px #9898A0 inset,
				1px 3px 2px 2px #9898A0;
}
.title__search
{
	border: 1px solid black;
	border-radius: 10px;
	width: 80%;
	margin-left: 10%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
				rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset,
				red 1px 1px 1px 1px;
}


.products-right .item__product
{
	
	margin-top: 1rem;
	margin-left: 3%;
	padding-bottom: 1rem;
	padding-top: 1rem;
	padding-left: 0; 
	padding-right: 0;
	box-shadow: 1px 3px 2px 2px #9898A0 inset,
				1px 3px 2px 2px #9898A0;

}
.products-right .item__product img
{
	height: 200px;
	width: 95%;
	margin-left: 2.5%;
}
.item__product .item-info-product .item_name,
.item__product .item-info-product .item_price
{
	font-size: 20px;
}
.products-right .item__product .btn__action
{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
}
.btn__action .btn__addCart,
.btn__action .btn__heart
{
	padding: 0;
	margin: 0;
	width: 75%;
	text-align: center;
	background-color: transparent;
	outline: none;
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: grey 0px 1px 3px inset,
				grey 0px 1px 3px,
				grey 0px 1px 3px;
	padding: 3px 2px 3px 2px;
} 
.btn__action .btn__addCart:hover
{
	background-color: #FF3636;
	border: 1px solid #FF3636;
	box-shadow: #FF3636 0px 1px 3px inset,
				#FF3636 0px 1px 3px,
				#FF3636 0px 1px 3px;
	transition: 0.2s;
}
.btn__action .btn__addCart a
{
	color: black;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.btn__action .btn__addCart:hover a
{
	color: white;
	transition: 0.2s;
}
.btn__action .btn__heart
{
	width: 15%;
}
.btn__action .btn__heart a
{
	color: black;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.btn__action .btn__heart:hover
{
	background-color: #F54646;
	border: 1px solid #F54646;
	box-shadow: #F54646 0px 1px 3px inset,
				#F54646 0px 1px 3px,
				#F54646 0px 1px 3px;
	transition: 0.2s;
}
.btn__action .btn__heart:hover a
{
	color: white;
	transition: 0.2s;
}
.products-right .item__product .item_info
{
	width: 95%;
	text-align: center;
	background-color: #B9B8B6;
	opacity: 80;
	position: absolute;
	top: 1px;
	left: 2.5%;
	opacity: 0%;
	padding: 5px 0 5px 0;
}
.products-right .item__product .item_info a
{
	font-size: 16px;
	color: white;
}
.products-right .item__product:hover
{
	box-shadow: 1px 3px 3px 3px #BACCF4 inset,
				1px 3px 3px 3px #BACCF4;
}
.products-right .item__product:hover .item_info
{
	top: 180px;
	opacity: 100%;
	transition: 1s;
}
.products-right .item__product .item_info:hover a
{
	font-size: 18px;
	transition: 0.5s;
}


/*-----------------CHI TIẾT SẢN PHẨM---------------------*/
.product__info h3
{
	text-align: center;
	background-color: #F54646;
	border: none;
	color: white;
	padding: 3px 0 3px 0;
}
.info__left .img
{
	text-align: center;
}
.info__left .img #img__default img
{
	width: 50%;
	height: 250px;
}
.info__left .pos__img div
{
	width: 10%;
	height: 20px;
	border-radius: 20px;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid lightgrey;
}
.info__left .multi__img div
{
	margin: 0;
	padding: 3px;
	text-align: center;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
				 rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
	 			rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.info__left .multi__img div img
{
	width: 100%;
	height: 80px;
	cursor: pointer;
}

.info__right span 
{
	font-weight: 500;
}
.info__right .proName
{
	font-size: 25px;
	font-weight: bold;
}
.info__right .proPrice
{
	font-size: 20px;
	color: red;
}
.info__right .counter input,.info__right .counter button
{
	height: 30px;
	font-size: 18px;
} 
.info__right .counter button
{
	width: 30px;
	margin-top: -6px;
	text-align: center;
	outline: none;
	border-radius: 5px;
	background-color: transparent;
}
.info__right .counter button:nth-child(1)
{
	border: 1px solid red;
	color: red;
}
.info__right .counter button:nth-child(1):hover
{
	background-color: red;
	color: white;
	transition: 0.5s;
}
.info__right .counter button:nth-child(3)
{
	border: 1px solid green;
	color: green;
}
.info__right .counter button:nth-child(3):hover
{
	background-color:green;
	color: white;
	transition: 0.5s;
}
.info__right .proKm
{
	font-size: 20px;
	color: red;
}
.info__right .proKm__content
{
	width: 90%;
	border: 2px solid black;
	height: auto;
	max-height: 200px;
	padding: 0.5rem 1rem 0.5rem 1rem;
	box-shadow: black 0px 1px 3px,black 0px 1px 3px;
}
.info__right .occasion-cart .btn__addCart,
.info__right .occasion-cart .btn__heart
{
	font-size: 18px;
	font-weight: 500;
	border: 1px solid grey;
	border-radius: 6px;
	padding: 3px 0 3px 0;
	background-color: transparent;
	box-shadow: grey 0px 2px 4px inset,
				grey 0px 2px 4px,
				grey 0px 2px 4px;
}
.info__right .occasion-cart .btn__addCart
{
	width: 45%;
}
.info__right .occasion-cart .btn__heart i
{
	color: black;
	font-weight: 500;
}
.info__right .occasion-cart .btn__addCart:hover
{
	border: 1px solid #3EC334;
	background-color: #3EC334;
	color: white;
	box-shadow: #3EC334 0px 2px 4px inset,
				#3EC334 0px 2px 4px,
				#3EC334 0px 2px 4px;
	transition: 0.3s;
}
.info__right .occasion-cart .btn__heart:hover
{
	border: 1px solid #F54646;
	background-color: #F54646;
	box-shadow: #F54646 0px 2px 4px inset,
				#F54646 0px 2px 4px,
				#F54646 0px 2px 4px;
	transition: 0.3s;
}
.info__right .occasion-cart .btn__heart:hover i
{
	color: white;
}

/*----*/
.product__bot #show__mota,
.product__bot #show__danhgia
{
	width: 15%;
	font-size: 17px;
	background-color: white;
	cursor: pointer;
	position: relative;
	top: 1px;
	z-index: 20;
}
.product__bot #show__mota
{
	font-weight: 500;
	border: 2px solid black;
	border-bottom: 1px solid white;
	margin-left: 12px;

}
.product__bot #show__mota:hover,
.product__bot #show__danhgia:hover
{
	background-color: lightgrey;
}

.product__bot #show__danhgia
{
	border: 1px solid lightgrey;
}
.product__bot table
{
	position: relative;
	width: 80%;
	z-index: 10;
	border: 2px solid black;
}
.product__bot table tr .mota__left,
.product__bot table tr .mota__right
{
	border: 1px solid black;
	padding-left: 1rem;
}
.product__bot table tr .mota__left
{
	border: 1px solid black;
	width: 16.5%;
}
.product__bot table tr .mota__right
{
	width: 70%;
}

.product__bot #content__danhgia
{
	display: none;
	width: 100%;
	height: auto;
	border: 1px solid black;
	margin-left: 12px;
	padding: 0 1rem 0 1rem;
}
#content__danhgia .cmt__title
{
	margin-top: 20px;
}
#content__danhgia .cmt__title .cmt__avt
{
	width: 45px;
	height: 45px;
	border-radius: 360px;
}
#content__danhgia .cmt__title .cmt__name
{
	font-size: 24px;
	font-weight: bold;
}
#content__danhgia .cmt__title .cmt__date
{
	font-size: 14px;
	color:grey;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}
#content__danhgia .cmt__title .btn__del
{
	position: absolute;
	left: 90%;
}
#content__danhgia .cmt__title .cmt__content
{
	width: 90%;
	border-bottom: 1px solid black;
	margin-left: 5%;
	padding-bottom: 3px;

}
.send_cmt--avt img
{
	width: 50px;
	height: 50px;
	border-radius: 360px;
}



/*---------------------GIỎ HÀNG-----------------------*/
.content__cart table
{
	width: 100%;
}
.content__cart .table__title
{
	background-color: #EA6773;
	color: white;
	font-size: 22px;
	font-weight: bold;
}
.content__cart .cart__list--item
{
	margin-left: 1%;
	width: 98%;
}
.content__cart table tbody .thead
{
	border: 2px solid #757390;
	color: white;
	background: linear-gradient(to bottom,#FB1D71,#F62A64,#F74F7E,#F3779A);
}
.content__cart table tbody .thead tr td
{
	text-align: center;
	border: 2px solid #757390;
}
.content__cart table tbody tr td
{
	text-align: center;
	border: 2px solid #757390;
	padding-top: 3px 0 3px 0;
}
.content__cart table tbody tr td img
{
	margin-left: 20%;
	width: 90px;
	height: 90px;
}
.content__cart table tbody tr td .counter button
{
	height: 30px;
	font-size: 18px;
	width: 30px;
	margin-top: -6px;
	text-align: center;
	outline: none;
	border-radius: 5px;
	background-color: transparent;
}
.content__cart table tbody tr td .counter button:nth-child(1)
{
	border: 1px solid red;
}
.content__cart table tbody tr td .counter button:nth-child(1) a
{
	color: red;
}
.content__cart table tbody tr td .counter button:nth-child(1):hover
{
	background-color: red;
	color: white;
	transition: 0.5s;
}
.content__cart table tbody tr td .counter button:nth-child(3)
{
	border: 1px solid green;
}
.content__cart table tbody tr td .counter button:nth-child(3) a
{
	color: green;
}
.content__cart table tbody tr td .counter button:nth-child(3):hover
{
	background-color:green;
	color: white;
	transition: 0.5s;
}
.cart__bot .cart__bot--left table tr,
.cart__bot .cart__bot--right table tr
{
	color: white;
	background: linear-gradient(to bottom,#FB1D71,#F62A64,#F74F7E,#F3779A);
	font-weight: 500;
	padding: 3px 0 3px 0;
}
.left__content, .right__content
{
	padding: 5px 10px 5px 10px;
	border: 2px solid #757390;
}
.left__content .content__pro
{
	margin-top: 5px;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} 
.left__content .content__pro .pro__price
{
	color: #F8BE0E;
}
.left__content .content__total
{
	font-size: 20px;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5px 5px 10px;
}
.left__content .content__total .total__price
{
	color: red;
}
.content__cart .address__info table
{
	width: 100%;
}
.content__cart .address__info table thead tr td 
{
	font-size: 18px;
	background-color: #EA6773;
	text-align: center;
	color: white;
	font-weight: bold;
	border: 2px solid #757390;
}

.content__cart .address__info table tbody .thead td
{
	background: linear-gradient(to bottom,#FB1D71,#F62A64,#F74F7E,#F3779A);
	border: 2px solid #757390;
	width: 50%;
}
.content__cart .address__info table tbody tr td input
{
	width: 100%;
	outline: none;
	border: 0;
	padding-left: 1rem;
}
.content__cart tfoot
{

}
.content__cart tfoot tr td
{
	text-align: right;
	border: 2px solid #757390;
}
.content__cart tfoot tr td h5,
.content__cart tfoot tr td span
{
	font-weight: bold;
}
.content__cart tfoot tr td span
{
	color: #EA6773;
}
.content__cart tfoot tr td input 
{
	display: none;
}


@media only screen and (max-width: 736px)
{
	.menu__lg
	{
	display: none;
	}
	.menu__sm
	{
	display: block;
	}
	.content__login--form, .content__register--form
	{
 	padding: 0;
	}
	.list__menu--item
	{
	margin-left: -0.8rem;
	}
	#content__danhgia .cmt__title .btn__del
	{
		left: 0;
	}

}