/*menu account */
.menu__account
{
	position: relative;
	width: 100%;
	height: auto;
	display: inline;
	list-style-type: none;
	color: #181D5E;
}

.menu__account--child
{
	position: absolute;
	height: 0;
	opacity: 0%;
	list-style-type: none;
	background: white;
	z-index: 100;
	border: 3px solid orange;
	border-radius: 10px 0 10px 0;
}
.menu__account--child .li2
{
	height:30px;
	width: 200px;
	display: block;
	text-align: center;
}
.menu__account li a
{
	font-size: 20px;
}
.menu__account li:hover .menu__account--child
{
 	display: block;
	height: 100px;
	opacity: 100%;
	transition: 1s;
}
.menu__account li .menu__account--child li a:hover
{
	color: #928DF5;
}


/* HEADER */
.header__top{
	height: 100px;
	box-shadow: 1px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid lightgrey;
	box-shadow: 0 8px 6px -6px grey;
}
.header__top a img
{
	width: 160px;
	margin-top: -30px;
	margin-left: 35px;
}
.header__top .menu__header--top li a
{
	color: orange;
	cursor: pointer;
	text-decoration: none;
}
.header__top .menu__header--top li a:hover
{
	color: #928DF5;
}
.header__bot{
	height: 80px;
	box-shadow: 1px;
	display: flex;
	align-items: center;
}
#list__menu
{
	list-style-type: none;
}
.list__menu--item
{
	display: inline-block;
	margin-left: 1rem;
	padding-top: 1rem;
}
.list__menu--item a
{
	color: orange;
	text-decoration: none;
	font-size: 22px;
}
.list__menu--item a:hover
{
	color: #928DF5;
}



/* infomation */
h2
{
	text-align: center;
}
.box__info .flex__info
{
	display: flex;
	flex-direction: row;
}
.flex__info .info__item
{
	display: block;
	width: 12rem;
}
.flex__info .ip
{
	border: 0;
	border-bottom: 1px solid black;
	width: 20rem;
}
.btn_editInfo
{
	position: relative;
	margin-left: 40%;
	border:0;
	padding:10px 20px 10px 20px;
	background-color: blue;
	color:white;
	font-size: 17px;
}
.btn_editPass
{
	position: relative;
	
	border:0;
	padding:10px 20px 10px 20px;
	background-color: #555570;
	color:white;
	font-size: 17px;
}
.btn_editInfo::before
{
	content: "Cập nhật thông tin";
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	padding:10px 20px 10px 20px;
	background-color:  green;

	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: 0.5s;
}
.btn_editPass::before
{
	content: "Đổi mật khẩu";
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	padding:10px 20px 10px 20px;
	background-color: green;

	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: 0.5s;
}
.btn_editInfo:hover:before, .btn_editPass:hover:before
{
	transform: scaleX(1);
	transition: 0.4s;
}

.flex__btnPass
{
	display: flex;
	flex-direction: row;
	text-align: center;
	width: 100%;
}
.flex__btnPass button
{
	border: 0;
	outline: none;
	background-color: white;
}
#khHinh
{
	display: none;
}
.lb__khHinh
{
	position: relative;
	left: 15%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	height: 40px;
	width: 200px;
	border-radius: 30px;
	background-color: #859BEC;
	font-family: "Montserrat",san-serif;
}

#click__pass, #click__pass2, #click__pass3
{
	position: relative;
	top:-1.5rem;
	left:150%;
	z-index: 100;
	cursor: pointer;
}
/* CART */

/* BANNERS */
.slider
{
	width: 100%;
	overflow: hidden;
}
.slides
{
	width: 500%;
	display: flex;

}
.slides input
{
	display: none;
}
.slide
{
	width: 20%;
	transition: 2s;
}
.slide img
{
	height: 400px;
	
}
.navigation-manual{
	position: absolute;
	width: 100%;
	margin-top: -40px;
	display: flex;
	justify-content: center;
	
}
.manual-btn{
	border: 2px solid #192A69;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}
.manual-btn:not(:last-child)
{
	margin-right: 20px;
}

.navigation-auto{
	position: absolute;
	width: 100%;
	margin-top: 360px;
	display: flex;
	justify-content: center;

}
.navigation-auto div{
	border: 2px solid #192A69;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}
.navigation-auto div:not(:last-child)
{
	margin-right: 20px;
}
.manual-btn:hover
{
	background:#5733AA;
}

#radio1:checked ~ .first{
	margin-left: 0%;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background:  #192A69;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
background:  #192A69;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background:  #192A69;
}


#banners .banners__child
{
	width: 101%;
	height: 200px;

}
#banners .banners__child img
{
	width: 101%;
	height: 200px;
}