:root {
    --woocommerce: #a46497;
    --wc-green: #7ad03a;
    --wc-red: #a00;
    --wc-orange: #ffba00;
    --wc-blue: #2ea2cc;
    --wc-skyblue:rgba(0,163,186,0.93);
    --wc-primary: #a46497;
    --wc-primary-text: white;
    --wc-secondary: #ebe9eb;
    --wc-secondary-text: #515151;
    --wc-highlight: #77a464;
    --wc-highligh-text: white;
    --wc-content-bg: #fff;
    --wc-subtext: #767676;
    --wc-dark: #393D54;
    --wc-grey: rgba(55,71,79,0.93);
    --wc-lightred: #F54646;
    --wc-lightgrey: #f7f7f7;
    --wc-gray: #ddd;
}


.col-1_5
{
	max-width: 12.5%;
    width:12.5%;
	-ms-flex:0 0 12.5%;
    flex:0 0 12.5%;
}
.col-3_5
{
	max-width: 30%;
    width:30%;
	-ms-flex:0 0 30%;
    flex:0 0 30%;
}
.quang__cao,.quang__cao2
{
	height: 495px;
	position: relative;
	z-index: 8;
}


/* //////////////////////////////HEADER//////////////////////////////// */

*.row
{
   margin: 0;
   padding: 0;
}
.header__top
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--wc-dark);
}
.header__top--left
{
    padding: 15px 0 15px 0;
    width: 70%;
    text-align: center;
}
.header__top--right
{
	padding-top: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header__top--right .top__right--menu
{
    list-style: none;
}
.header__top--right .top__right--menu .menu__item,
.header__top--right .top__right--menu .menu__item--border
{
    display: inline-block;
}
.menu__item
{
    padding: 0 10px 0 10px;
    position: relative;
}
.menu__item--border
{
    border: 1px solid var(--wc-secondary);
    width: 1px;
    height: 15px;
}
.menu__item a
{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    color: var(--wc-secondary);
}
.menu__item a i
{
    text-decoration: none;
    font-size: 17px;
    color: var(--wc-secondary);
}
.menu__item:hover a, a i
{
    color: var(--wc-content-bg);
}

.menu__item .item__menu--child
{
    height: 0;
    transform: scaleY(0);
    transform-origin: 50% 0;
    opacity: 0;
    padding: 0;
    width: 220px;
    position: absolute;
    list-style: none;
    z-index: 10;
    border-radius: 3px;
   
}
.menu__item .item__menu--child .box__list--item
{
    padding: 0 0 0 2%;
     border: 1px solid var(--wc-secondary-text);
    background-color: var(--wc-highligh-text);
}
.item__menu--child .item__triangle
{
  width: 0;
  height: 0;
  top: 1px;
  position: relative;
  margin-left: 40%;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid var(--wc-highligh-text);
  z-index: 50;
}
.item__menu--child .menu__child--item
{
    width: 96%;
    text-align: left;
    padding:10px 0 10px 20px;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.15);
}
.item__menu--child .menu__child--item:last-child
{
    border: 0;
}
.item__menu--child .menu__child--item a,
.item__menu--child .menu__child--item a i
{
    font-size: 15px;
    color: black;
}
.menu__child--item:hover a
{
     color: var(--wc-blue);
}
.menu__child--item:hover a i
{
     color: var(--wc-blue);
}
.menu__item:hover .item__menu--child
{
    opacity: 100%;
    height: auto;
    transform: scaleY(1);
    transition: 0.5s;
}





/* ---------------------infomation -----------------------*/
.infomation h3
{
	color: var(--wc-skyblue);
	font-size: 26px;
	font-weight: bold;
	text-align: center;
	
}
.box__info .flex__info
{
	display: flex;
	flex-direction: row;
}
.flex__info .info__item
{
	display: block;
	width: 11rem;
}
.flex__info .info__item:nth-child(1)
{
	font-size: 20px;
	font-weight: 500;
}
.flex__info .ip
{
	border: 1px solid black;
	font-size: 18px;
	border-radius: 20px;
	width: 20rem;
	padding:0.3rem 1rem 0.3rem 1rem;
	outline: none;
}
.information__img #img__default
{
	position: relative;
}
.information__img #box__img
{
	position: relative;
}
.information__img img,
.information__img #box__img
{
	position: relative;
	width: 300px;
	height: 300px;
	border-radius: 360px
}
.information__img img
{
	position: absolute;
	top: 0;
}
.information__img #box__img
{
	border: 1px dashed black;
	background-color: lightgrey;
}
.information__img #box__img span
{
	font-size: 28px;
	padding: 3px 0 3px 0;
	border-radius: 3px;
	text-align: center;
	color:grey;
	font-weight: bold;
}
.information__img #box__img span i
{
	font-size: 65px;
	color: #AF8282;
}
.information__img #file__name
{
	font-size: 16px;
	text-align: center;
	border: 1px dashed white;
	color: black;
	padding: 5px 0 5px 0;
}
.information__img #btnImg__cancel
{
	display: none;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
}


.btn_editInfo
{
	position: relative;
	margin-left: 40%;
	border:0;
	padding:10px 20px 10px 20px;
	background-color: blue;
	color:white;
	font-size: 17px;
}
.btn_editPass
{
	position: relative;
	
	border:0;
	padding:10px 20px 10px 20px;
	background-color: #555570;
	color:white;
	font-size: 17px;
}
.btn_editInfo::before
{
	content: "Cập nhật thông tin";
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	padding:10px 20px 10px 20px;
	background-color:  green;

	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: 0.5s;
}
.btn_editPass::before
{
	content: "Đổi mật khẩu";
	position:absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	padding:10px 20px 10px 20px;
	background-color: green;

	transform: scaleX(0);
	transform-origin: 0 50%;
	transition: 0.5s;
}
.btn_editInfo:hover:before, .btn_editPass:hover:before
{
	transform: scaleX(1);
	transition: 0.4s;
}

#khHinh
{
	display: none;
}
.lb__khHinh
{
	position: relative;
	left: 15%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	color: white;
	height: 40px;
	width: 200px;
	border-radius: 30px;
	background-color: #859BEC;
	font-family: "Montserrat",san-serif;
	cursor: pointer;
}
.flex__btnPass
{
	display: flex;
	justify-content: space-around;
}
.flex__btnPass button a
{
	color: white;
}
#click__pass, #click__pass2, #click__pass3
{
	position: relative;
	top:-1.7rem;
	left:90%;
	z-index: 100;
	cursor: pointer;
}




/* //////////////////BANNERS//////////////////// */
.slider
{
	width: 100%;
	overflow: hidden;
}
.slides
{
	width: 500%;
	display: flex;

}
.slides input
{
	display: none;
}
.slide
{
	width: 20%;
	transition: 2s;
}
.slide img
{
	height: 330px;
}
.navigation-manual{
	position: absolute;
	width: 100%;
	margin-top: -40px;
	display: flex;
	justify-content: center;
	
}
.manual-btn{
	border: 2px solid var(--wc-lightblue);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}
.manual-btn:not(:last-child)
{
	margin-right: 20px;
}

.navigation-auto{
	position: absolute;
	width: 100%;
	margin-top: 290px;
	display: flex;
	justify-content: center;

}
.navigation-auto div{
	border: 2px solid var(--wc-blue);
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.5s;
}
.navigation-auto div:not(:last-child)
{
	margin-right: 20px;
}
.manual-btn:hover
{
	background:var(--wc-lightblue);
}

#radio1:checked ~ .first{
	margin-left: 0%;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
	background:  var(--wc-blue);
}
#radio2:checked ~ .navigation-auto .auto-btn2{
background:  var(--wc-blue);
}
#radio3:checked ~ .navigation-auto .auto-btn3{
	background:  var(--wc-blue);
}


#banners .banners__child
{
	width: 101%;
	height: 165px;

}
#banners .banners__child img
{
	width: 101%;
	height: 165px;
}

/* ////////////////FORM LOGIN REGISTER///////////////// */
.content__login form, .content__register form
{
	border: 1px solid rgba(103, 151, 255, .11);
	box-shadow: 0 8px 60px 0 rgba(103, 151, 255, .11), 0 12px 90px 0 rgba(103, 151, 255, .11);
	border-radius: 30px;
}
.content__login form .form-group, .content__register form .form-group
{
	position: relative;
	top: 1rem;
}
.input__login,
.input__register,
.input__upPass{
	height: 48px;
	margin-top: 2rem;
}
.form__label
{
	position: absolute;
	top: 0.8rem;
	left: 1rem;
	font-size: 16px;
	color:#939299;
	font-weight: normal;
	z-index: 10;
	background-color: white;
	transition: .5s;
}
.input__login:focus+ .form__label,
.input__register:focus+ .form__label,
.input__upPass:focus+ .form__label{
	top: -1rem;
	left: 0.5rem;
	font-size: 16px;
	padding: 0 10px 0 10px;
	color: #40B7D9;
	transition: .5s;
}
.input__login:not(:placeholder-shown).input__login:not(:focus)+ .form__label,
.input__register:not(:placeholder-shown).input__register:not(:focus)+ .form__label,
.input__upPass:not(:placeholder-shown).input__upPass:not(:focus)+ .form__label{
	top: -1rem;
	left: 0.5rem;
	font-size: 16px;
	padding: 0 10px 0 10px;
	color: #40B7D9;
	transition: .5s;
}

.content__login form .fa-eye, 
.content__register form .fa-eye,
.content__login form .fa-eye-slash, 
.content__register form .fa-eye-slash{
	position: absolute;
	top: 0.8rem;
	left: 90%;
	z-index: 1;
}

.content__login form legend, .content__register form legend
{
	color: orange;
	text-align: center;
	padding: 0.1rem 0 0.1rem 0;
	background-color: #463F89;
	border-radius: 30px 30px 0 0;

}
.content__login--form, .content__register--form
{
 	padding: 0 5rem 0 5rem;
}
.forgot-pass:hover
{
	color: orange;
	border-bottom: 1px solid orange;
}
.content__login--link a:hover, .content__register--link a:hover
{
	color: orange;
	border-bottom: 1px solid orange;
}

/* END FORM LOGIN */


/* /////////////RESPONSIVE////////////// */
.menu__sm
{
	display: none;
}
.menu__sm .left a img
{
	width: 120px;	
}
.menu__sm .right
{
	margin-top: -5rem;
	text-align: right;
}
.box__menu
{
	position: fixed;
	top: 0;
	right: -500px;
	bottom: 0;
	z-index: 110;

	background-color: #1C125C;
	color: white;
	padding-top: 1rem;
	line-height: 3rem;

	transition: 0.5s;
}
.box__menu h3
{
	display: flex;
	justify-content: space-between;
}
.box__menu .menu__sm--child
{
	list-style-type: none;
	width: 100%;
	font-size: 18px;
	text-align: left;
}	
.box__menu .menu__sm--child li
{
	margin-left: -2rem;
}
.box__menu .menu__sm--child li a
{
	color: white;
}
.box__menu .menu__sm--child li a:hover
{
	color:orange;
} 
#show:checked ~ .box__menu
{
	right: 0;
	transition: 0.5s;
}






/*----------------- SẢN PHẨM --------------*/
.box__search
{
	border: 2px solid var(--wc-secondary);
	height: 700px;
	border-radius: 20px;
	margin-left: 0.5%;
	padding-top: 1rem;
	
}
.title__search
{
	width: 80%;
	margin-left: 10%;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 20px;
}

.btn_search{
	background-color: white;

	border: 1px solid grey;
	border-radius: 20px;
	
	padding: 3px 2px 3px 2px;
}
.btn_search:hover{
	color: white;
	background-color: var(--wc-dark);
	border: 1px solid var(--wc-dark);
	border-radius: 20px;
	box-shadow: var(--wc-dark) 0px 1px 3px inset,
				var(--wc-dark) 0px 1px 3px,
				var(--wc-dark) 0px 1px 3px;
}


.products-right
{
	border-top: 2px solid var(--wc-secondary);
	padding: 0;
	margin: 0;
}

.products-right .item__product
{
	margin-top: 1rem;
	padding-top: 1rem;
	padding-left: 0; 
	padding-right: 0;
	cursor: pointer;
	border: 2px solid var(--wc-secondary);
}
.products-right .item__product:hover
{
	border: 2px solid var(--wc-blue);
}
.products-right .item__product img
{
	height: 200px;
	width: 95%;
	margin-left: 2.5%;
}
.item__product .item-info-product
{
	background-color: var(--wc-secondary);

	padding: 0;
	margin: 0;
}
.item__product .item-info-product .item_name,
.item__product .item-info-product .item_price
{
	font-size: 20px;
}
.products-right .item__product .btn__action
{
	width: 100%;
	margin: 0;
	padding:0 0 5px 0;
	display: flex;
	justify-content: space-around;
}

.btn__action .btn__addCart,
.btn__action .btn__heart
{
	color: white;
	font-size: 16px;
	margin: 0;
	padding: 0;
	width: 75%;
	text-align: center;
	background: linear-gradient(135deg, #ba4ecf 0%, #6782c9 100%);
	outline: none;
	padding: 3px 2px 3px 2px;
} 
.btn__action .btn__addCart i,
.btn__action .btn__heart i
{
	color: white;
}

.btn__action .btn__addCart:hover 
{
	background: linear-gradient(135deg, var(--wc-blue) 0%, var(--wc-lightred) 100%);
	transition: 0.2s;
}

.btn__action .btn__heart
{
	width: 15%;
	color: white;
	font-size: 16px;
	margin: 0;
	padding:2px 0 0 0;
}
.btn__action .btn__heart:hover
{
	background: linear-gradient(135deg, var(--wc-blue) 0%, var(--wc-lightred) 100%);
	transition: 0.2s;
}
.btn__action .btn__heart:hover 
{
	color: white;
	transition: 0.2s;
}
.btn__action .btn__heart--checked
{	
	text-align: center;
	padding:2px 0 0 0;
	width: 15%;

	color: white;
	font-size: 16px;
}
.btn__action .btn__heart--checked:hover
{
	background: linear-gradient(135deg, var(--wc-blue) 0%, var(--wc-lightred) 100%);
	transition: 0.2s;
}

.products-right .item__product .item_info
{
	width: 95%;
	text-align: center;
	background-color: #B9B8B6;
	opacity: 80;
	position: absolute;
	top: 0;
	left: 2.5%;
	opacity: 0%;
	padding: 5px 0 5px 0;
	transition: 0.6s;
}
.products-right .item__product .item_info a
{
	color: white;
}
.products-right .item__product:hover .item_info
{
	top: 180px;
	opacity: 100%;
}
.products-right .item__product .item_info:hover
{
	background-color: var(--wc-dark);
	transition: 0.5s;
}



/*-----------------CHI TIẾT SẢN PHẨM---------------------*/
.product__info h3
{
	text-align: center;
	border: none;
	font-weight: bold;
	color: var(--wc-skyblue);
	padding: 3px 0 3px 0;
}
.info__left .img
{
	text-align: center;
}
.info__left .img #img__default img
{
	width: 50%;
	height: 250px;
}
.info__left .pos__img div
{
	width: 10%;
	height: 20px;
	border-radius: 20px;
	cursor: pointer;
	background-color: transparent;
	border: 2px solid lightgrey;
}
.info__left .multi__img .img__item
{
	margin: 0;
	padding: 3px;
	text-align: center;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
				 rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, 
	 			rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.info__left .multi__img div img
{
	width: 100%;
	height: 80px;
	cursor: pointer;
}

.info__right span 
{
	font-weight: 500;
}
.info__right .proName
{
	font-size: 25px;
	font-weight: bold;
}
.info__right .proPrice
{
	font-size: 20px;
	color: red;
}
.info__right .counter input,.info__right .counter button
{
	height: 30px;
	font-size: 18px;
} 
.info__right .counter button
{
	width: 30px;
	margin-top: -6px;
	text-align: center;
	outline: none;
	border-radius: 5px;
	background-color: transparent;
}
.info__right .counter button:nth-child(1)
{
	border: 1px solid red;
	color: red;
}
.info__right .counter button:nth-child(1):hover
{
	background-color: red;
	color: white;
	transition: 0.5s;
}
.info__right .counter button:nth-child(3)
{
	border: 1px solid green;
	color: green;
}
.info__right .counter button:nth-child(3):hover
{
	background-color:green;
	color: white;
	transition: 0.5s;
}
.info__right .proKm
{
	font-size: 20px;
	color: red;
}
.info__right .proKm__content
{
	width: 90%;
	border: 2px solid var(--wc-secondary);
	height: auto;
	max-height: 200px;
	padding: 0.5rem 1rem 0.5rem 1rem;

}
.info__right .occasion-cart .btn__addCart,
.info__right .occasion-cart .btn__heart
{
	color: white;
	font-size: 18px;
	text-align: center;
	background: linear-gradient(135deg, #ba4ecf 0%, #6782c9 100%);
	border-radius: 6px;
	padding: 3px 10px 3px 10px;
	cursor: pointer;
		
}
.info__right .occasion-cart .btn__addCart
{
	width: 45%;
	text-decoration: none;
}
.info__right .occasion-cart .btn__heart i
{
	color:white;
	font-weight: 500;
}
.info__right .occasion-cart .btn__addCart:hover
{
	background: linear-gradient(135deg, var(--wc-blue) 0%, var(--wc-lightred) 100%);
}

.info__right .occasion-cart .btn__heart:hover
{
	background: linear-gradient(135deg, var(--wc-blue) 0%, var(--wc-lightred) 100%);
}

/*----*/
.product__bot
{
	margin: 0;
	padding: 0;
}
.product__bot #show__mota,
.product__bot #show__danhgia
{
	width: 15%;
	font-size: 17px;
	background-color: white;
	cursor: pointer;
	position: relative;
	top: 1px;
	z-index: 20;
}
.product__bot #show__mota
{
	border:1px solid var(--wc-gray);
	border-bottom: 1px solid white;
	color: darkblue;

}
.product__bot #show__mota:hover,
.product__bot #show__danhgia:hover
{
	background-color: lightgrey;
	border: 1px solid grey;
}

.product__bot #show__danhgia
{
	border-bottom: 1px solid var(--wc-gray);
	color: blue;
}
.product__bot table
{
	position: relative;
	width: 100%;
	z-index: 10;
}
.product__bot table tr .mota__left,
.product__bot table tr .mota__right
{
	border: 1px solid lightgrey;
	padding-left: 1rem;
}
.product__bot table tr .mota__left
{
	width: 16.5%;
	background:var(--wc-lightgrey);
}

.product__bot table tr .mota__right
{
	width: 70%;
}
.product__bot #content__mota
{
	width: 100%;
	border: 1px solid var(--wc-gray);
	padding-bottom: 1rem;
}
.product__bot #content__danhgia
{
	display: none;
	width: 100%;
	height: auto;
	border: 1px solid var(--wc-gray);
	padding: 0 1rem 0 1rem;
}
#content__danhgia .cmt__title
{
	margin-top: 20px;
}
#content__danhgia .cmt__title .cmt__avt
{
	width: 45px;
	height: 45px;
	border-radius: 360px;
}
#content__danhgia .cmt__title .cmt__name
{
	font-size: 24px;
	font-weight: bold;
}
#content__danhgia .cmt__title .cmt__date
{
	font-size: 14px;
	color:grey;
	text-shadow: 2px 8px 6px rgba(0,0,0,0.2),
                 0px -5px 35px rgba(255,255,255,0.3);
}
#content__danhgia .cmt__title .btn__del
{
	position: absolute;
	left: 90%;
}
#content__danhgia .cmt__title .cmt__content
{
	width: 90%;
	border-bottom: 1px solid black;
	margin-left: 5%;
	padding-bottom: 3px;

}
.send_cmt--avt img
{
	width: 50px;
	height: 50px;
	border-radius: 360px;
}



/*---------------------GIỎ HÀNG-----------------------*/
.content__cart table
{
	width: 100%;
}
.content__cart .cart__list--item
{
	width: 100%;
	margin-left: 1%;
	width: 98%;
	border: 0;
}


.content__cart .table__title
{
	color:var(--wc-skyblue);
	font-size: 22px;
	font-weight: bold;
	border: 0;
}
.content__cart .table__title td
{
	border: 0;
}

.content__cart table tbody .thead
{
	border: 1px solid var(--wc-grey);
	background: var(--wc-gray);
	font-weight: bold;
}
.content__cart table tbody .thead tr td
{
	text-align: center;
	border: 1px solid var(--wc-grey);
	border-bottom: 0;
}
.content__cart table tbody tr
{
	border-left: 1px solid var(--wc-grey);
	border-right: 1px solid var(--wc-grey);
}
.content__cart table tbody tr td
{
	text-align: center;
	border-bottom: 1px solid var(--wc-grey);
	padding: 3px 0 3px 0;
}
.content__cart table tbody tr td img
{
	margin-left: 20%;
	width: 90px;
	height: 90px;
}
.content__cart table tbody tr td .counter button
{
	height: 30px;
	font-size: 18px;
	width: 30px;
	margin-top: -6px;
	text-align: center;
	outline: none;
	border-radius: 5px;
	background-color: transparent;
}
.content__cart table tbody tr td .counter button:nth-child(1)
{
	border: 1px solid red;
}
.content__cart table tbody tr td .counter button:nth-child(1) a
{
	color: red;
}
.content__cart table tbody tr td .counter button:nth-child(1):hover
{
	background-color: red;
	color: white;
	transition: 0.5s;
}
.content__cart table tbody tr td .counter button:nth-child(3)
{
	border: 1px solid green;
}
.content__cart table tbody tr td .counter button:nth-child(3) a
{
	color: green;
}
.content__cart table tbody tr td .counter button:nth-child(3):hover
{
	background-color:green;
	color: white;
	transition: 0.5s;
}
.cart__bot .cart__bot--left table tr,
.cart__bot .cart__bot--right table tr
{
	background: var(--wc-gray);
	font-weight: bold;
	padding: 3px 0 3px 0;
}
.cart__bot .cart__bot--left table,
.cart__bot .cart__bot--right table
{
	border: 1px solid black;
}

.left__content, .right__content
{
	padding: 5px 10px 5px 10px;
	border: 1px solid var(--wc-grey);
	border-top:0;
}
.left__content .content__pro
{
	margin-top: 5px;
	font-size: 18px;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
} 
.left__content .content__pro .pro__price
{
	color: #F8BE0E;
}
.left__content .content__total
{
	font-size: 20px;
	font-weight: 500;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 5px 5px 10px;
	border: 0;
}
.left__content .content__total .total__price
{
	color: red;
}
.content__cart .address__info table
{
	width: 100%;
}
.content__cart .address__info table thead tr td 
{
	font-size: 18px;
	background: var(--wc-gray);
	text-align: center;
	font-weight: bold;
	border: 1px solid var(--wc-grey);
}

.content__cart .address__info table tbody .thead td
{
	background: var(--wc-gray);
	border: 1px solid var(--wc-grey);
	width: 50%;
}
.content__cart .address__info table tbody tr td input
{
	width: 100%;
	outline: none;
	border: 0;
	padding-left: 1rem;
}

.content__cart tfoot tr td
{
	text-align: right;
	border: 1px solid var(--wc-grey);
}
.content__cart tfoot tr td h5
{
	font-weight: bold;
}

.content__cart tfoot tr td input 
{
	display: none;
}

.address__info .show__boxAddress,
.address__info .hide__boxAddress
{
	outline: none;
	border: 0;
	color: white;
	padding: 1px 10px 1px 10px;
}
.address__info .show__boxAddress
{
	background-color: var(--wc-dark);
}
.address__info .hide__boxAddress
{
	background-color: var(--wc-lightred);
	opacity: 0%;
}
.address__info .show__boxAddress:hover
{
	background-color: var(--wc-skyblue);
}
.address__info .hide__boxAddress:hover
{
	background-color: #DE0F0F;
}

/*---------------------DANH SÁCH ĐƠN HÀNG/ ĐƠN HÀNG YÊU THÍCH---------------*/
.list__order .order__table,
.list__wish .order__table
{
	width: 100%;
}
.modal .modal-content .order__table
{
	margin-top: 2%;
	background-color: white;
} 
.list__order .order__table thead tr td,
.list__wish .order__table thead tr td
{
	font-size: 22px;
	
	text-align: center;
	color:var(--wc-skyblue);
	font-weight: bold;
	
}

.list__order .order__table tbody .thead td,
.modal .modal-content .order__table tbody .thead td,
.list__wish .order__table tbody .thead td
{
	background: var(--wc-gray);
	border: 1px solid var(--wc-grey);
	text-align: center;
	font-weight: bold;
	padding: 3px 0 3px 0;
}
.list__order .order__table tbody tr td,
.list__wish .order__table tbody tr td
{
	text-align: center;
	border: 1px solid var(--wc-grey);
	padding: 3px 0 3px 0;
}
.modal .modal-content .order__table tbody tr td img
{
	width: 100px;
	height: 100px;
}
.list__wish .order__table tbody tr td img
{
	width: 100px;
	height: 100px;
}

/*-----FOOTER-----*/
.box__footer
{
    margin: 0;
    padding:3% 0 0 0;
    background-color: var(--wc-dark);
    height: auto;
}
.footer,
.footer *
{
    color: white;
}
.footer
{
	border: 0;
}
.footer__br
{
	height: 1px;
	border: 1px solid white;
}
.footer .list__footer ul h5
{
    text-transform: uppercase;  
}
.footer .list__footer ul .border__span
{
    width: 30%;
    height: 1px;
    border-radius: 20px;
    border: 2px solid white;

}
.footer .list__footer ul
{
    list-style: none;
    padding-top: 20px;
}
.footer .list__footer ul li
{
    margin-top: 10px;
}
.footer .list__footer ul li img
{
   height: 60px;
   width: 60px;
   margin-top: 10px;
}






@media only screen and (max-width: 736px)
{
	.menu__lg
	{
	display: none;
	}
	.menu__sm
	{
	display: block;
	}
	.content__login--form, .content__register--form
	{
 	padding: 0;
	}
	.list__menu--item
	{
	margin-left: -0.8rem;
	}
	#content__danhgia .cmt__title .btn__del
	{
		left: 0;
	}

}